* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    background-color: #0d1117;
    color: #ffffff;
}

/* Navbar */
nav {
    background-color: #161b22;
    padding: 15px 40px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 25px;
}

nav ul li a {
    text-decoration: none;
    color: #58a6ff;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ffffff;
}

/* Section */
section {
    height: 80vh;
    padding: 60px 10%;
}

/* Headings */
h1, h2 {
    color: #58a6ff;
    margin-bottom: 15px;
}

/* Button */
.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 18px;
    background-color: #58a6ff;
    color: #0d1117;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.btn:hover {
    background-color: #1f6feb;
}

/* Card */
.card {
    background-color: #161b22;
    /* background-color: red; */
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

/* Footer */
footer {
    background-color: #161b22;
  
    text-align: left;
    padding: 14px 0;
    margin-top: 40px;
    font-size: 0.95em;
    color: #B0E0E6;
    font-weight: 500;
}





